# Diffusion
* A open source graph analytics library for ML and data engineers!
* Notebooks below explain how to use the library
* Current library is on Version 0.2.0

In [9]:
from dg import (
    init_graph,
    graph_serialize,
    add_node,
    graph_to_csv
)

from pprint import pprint
import pandas as pd
import os

## Creating a Graph
* Initliaze a graph using adjacency list
* Add nodes and relationships
* View the results

In [4]:
graph = init_graph(
    vertice_count=10,
    directed=False
)
result = graph_serialize(graph)

In [5]:
result

{'vertice_count': 10,
 'edge_count': 10,
 'visited_nodes': [],
 'directed': False,
 'err': False,
 'edges': [],
 'items': {0: [],
  1: [],
  2: [],
  3: [],
  4: [],
  5: [],
  6: [],
  7: [],
  8: [],
  9: []}}

In [6]:
add_node(graph, 0, "A", 1, "B", 0) 
add_node(graph, 0, "A", 2, "C", 0)
add_node(graph, 0, "A", 3, "D", 0)
add_node(graph, 1, "B", 2, "C", 0)
add_node(graph, 4, "E", 2, "C", 0)

True

In [7]:
result = graph_serialize(graph)

In [8]:
result

{'vertice_count': 10,
 'edge_count': 10,
 'visited_nodes': [],
 'directed': False,
 'err': False,
 'edges': [],
 'items': {0: [b'B', b'C', b'D'],
  1: [b'A', b'C'],
  2: [b'A', b'B', b'E'],
  3: [b'A'],
  4: [b'C'],
  5: [],
  6: [],
  7: [],
  8: [],
  9: []}}

# Importing Data
* select features
* Import data to a graph using a csv file
* View serialized graph

In [10]:
df = pd.read_csv("../data/power_generation.csv")

In [11]:
df.head()

,Dates,Power Station,Monitored Cap.(MW),Total Cap. Under Maintenace (MW),Planned Maintanence (MW),Forced Maintanence(MW),Other Reasons (MW),Programme or Expected(MU),Actual(MU),Excess(+) / Shortfall (-),Deviation
0,2017-09-01,Delhi,2235.4,135.00,0.00,135.0,0,13,18,5.00,0.0
1,2017-09-01,Haryana,2720.0,2470.00,0.00,2470.0,0,28,7,-21.80,0.0
2,2017-09-01,Himachal Pradesh,3378.0,379.00,0.00,231.0,0,40,46,5.63,0.0
3,2017-09-01,Jammu and Kashmir,1285.0,150.00,0.00,0.0,0,14,23,9.43,0.0
4,2017-09-01,Punjab,3826.3,2697.65,77.65,2620.0,0,39,17,-21.69,0.0

In [12]:
power_station_dates = df[["Dates", "Power Station"]]
power_station_dates

             Dates      Power Station
0       2017-09-01              Delhi
1       2017-09-01            Haryana
2       2017-09-01   Himachal Pradesh
3       2017-09-01  Jammu and Kashmir
4       2017-09-01             Punjab
...            ...                ...
345268  2022-04-13            Tripura
345269  2022-04-13            NEEPCO.
345270  2022-04-13               NHPC
345271  2022-04-13          NTPC Ltd.
345272  2022-04-13               ONGC

[345273 rows x 2 columns]

In [2]:
result_graph = graph_to_csv(
    filename="../data/movies.csv", # this wasn't supposed to work?
    features=[1,3], # character support not avaialable yet
    size=2,
    row_limit=10
)

In [3]:
pprint(result_graph)

{'directed': False,
 'edge_count': 20,
 'edges': [],
 'err': False,
 'items': {0: [b'movie_name'],
           1: [b'R'],
           2: [b'The Godfather',
               b'The Silence of the Lambs',
               b'The Shawshank Redemption',
               b'The Shining',
               b"One Flew Over the Cuckoo's Nest"],
           3: [b'R'],
           4: [b'PG'],
           5: [b'Star Wars: Episode V - The Empire Strikes Back',
               b'Casablanca',
               b'Indiana Jones and the Raiders of the Lost Ark'],
           6: [b'R'],
           7: [b'R'],
           8: [b'PG'],
           9: [b'R'],
           10: [b'PG'],
           11: [b'PG-13'],
           12: [b'The Lord of the Rings: The Return of the King'],
           13: [],
           14: [],
           15: [],
           16: [],
           17: [],
           18: [],
           19: []},
 'vertice_count': 20,
 'visited_nodes': []}

In [1]:
import numpy as np
from numpy.linalg import inv

In [2]:
D = np.matrix(np.array([[1,0,0,0,0,0,0], [0,1,0,0,0,0,0], [0,0,1,0,0,0,0], [0,0,0,3,0,0,0], [0,0,0,0,2,0,0], [0,0,0,0,0,3,0], [0,0,0,0,0,0,1]]))
Dinv = inv(D)

matrix([[1.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        ],
        [0.        , 1.        , 0.        , 0.        , 0.        ,
         0.        , 0.        ],
        [0.        , 0.        , 1.        , 0.        , 0.        ,
         0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.33333333, 0.        ,
         0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.5       ,
         0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.33333333, 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 1.        ]])